<div class="row"  style="margin-top: 10px;">
  <div class="col-xs-1">
    <button class="btn btn-primary" (click)="onEdit()">Edit</button>
  </div>
    <div class="col-xs-1">
    <button class="btn btn-danger" (click)="onDelete()">Delete</button>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-2">
    <span class="border border-gray">
      <img [src]="book.imagePath"
        alt=""
        class="img-responsive"
        style="max-height: 200px;"
      >
    </span>
  </div>
  <div class="col-xs-10">
    <h1>{{ book.title }}</h1>
    <h3>By {{ book.author }}</h3>
    <hr>
    <h4><strong> date: </strong>{{ book.publicationDate | date : 'd MMM y' }}</h4>
    <h4><strong>Number of pages: </strong>{{ book.pages }}</h4>
    <hr>
    <p>{{ book.description }}</p>
  </div>
</div>
